@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>LNU - Web Intelligence - 2DV515</h1>
<h2>Assignment 2 - Clustering</h2>
<h3>Implementation of a system that clusters a set of blogs based on similarities in word occurrences.</h3>
